@page "/account/requestnewpassword"
@using Framework.User.Service.Contract.Interfaces
@using Framework.User.Service.Contract.Models
@inject IFrameworkUserService _frameworkUserService;

<h3>RequestNewPassword</h3>

<EditForm Model="@model" OnValidSubmit="OnValidSubmit">
    <MudTextField Label="Login or Email" @bind-Value="model.LoginOrEmail" For="@(() => model.LoginOrEmail)"/>
    <MudButton  ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Request</MudButton>
</EditForm>

@code {
    RequestNewPasswordFormViewModel model = new RequestNewPasswordFormViewModel();

    private async Task OnValidSubmit(EditContext context)
    {
        await _frameworkUserService.RequestNewPassword(model);
    }
}
