@page "/mailtemplates/{permname}/createtranslation"
@using Framework.User.Service.Contract.Interfaces
@using Framework.User.Service.Contract.Models
@inject IMailTemplateService _mailTemplateService

<h3>Create new translation</h3>

<EditForm Model="@model" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator/>

    <MudTextField Label="Permanent name" @bind-Value="model.PermName" For="@(() => model.PermName)" Disabled="true"/>
        
    <MudSelect T="string" Label="Culture" @bind-Value="model.Culture" AnchorOrigin="Origin.BottomCenter">
        @foreach(var culture in Cultures)
        {
            <MudSelectItem Value="@culture" />
        }
    </MudSelect>

    <MudTextField Label="Title" @bind-Value="model.Title" For="@(() => model.Title)"/>
    <MudTextField T="string" @bind-Value="model.Text" Label="Text" Variant="Variant.Text" Lines="20" />

    <MudCardActions>
        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Save</MudButton>
    </MudCardActions>

</EditForm>

@code {
    [Parameter]
    public string PermName { get; set; }

    MailTemplateFormViewModel model = new MailTemplateFormViewModel();
    bool success;
    IEnumerable<string> Cultures = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        model.PermName = PermName;
        Cultures = await _mailTemplateService.GetMissingCultures(PermName);
    }

    private async Task OnValidSubmit(EditContext context)
    {
        //await _mailTemplateService.CreateTranslation(model);

        success = true;
        StateHasChanged();
    }
}
