@page
@model Scene.Login.WebApp.Pages.Account.ResetPasswordModel
@{
}

<form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <input type="hidden" asp-for="Input.Email"/>
    <input type="hidden" asp-for="Input.Token"/>
    <div>
        <label asp-for="Input.NewPassword"></label><br />
        <input asp-for="Input.NewPassword" type="password" />
        <span asp-validation-for="Input.NewPassword"></span>
    </div>
    <div>
        <label asp-for="Input.NewPasswordConfirm"></label><br />
        <input asp-for="Input.NewPasswordConfirm" type="password" />
        <span asp-validation-for="Input.NewPasswordConfirm"></span>
    </div>
    <div>
        <input type="submit" value="Reset" />
    </div>
</form>