@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Scene</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <form method="post" asp-page="Account/Logout">
        <input type="submit" value="Выход" />
    </form>
}
else
{
    <a asp-page="Account/Login">Вход</a>
    <a asp-page="Account/Register">Регистрация</a>
}