@page
@model Scene.Login.WebApp.Pages.Account.RequestNewPasswordModel
@{
}

<h2>Восстановление пароля</h2>

@if(@Model.IsSent)
{
    <p>Инструкция по восстановлению пароля отправлена на почту.</p>
}
else
{
    <form method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="Input.LoginOrEmail"></label><br />
            <input asp-for="Input.LoginOrEmail" />
            <span asp-validation-for="Input.LoginOrEmail"></span>
        </div>
        <div>
            <input type="submit" value="Request" />
        </div>
    </form>
}