<h3>
    @if (!string.IsNullOrEmpty(PreTitle))
    {
        <span style="color:#888">@PreTitle: </span>
    }
    @Title
</h3>

@Breadcrumbs

@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string PreTitle { get; set; }
    [Parameter]
    public RenderFragment? Breadcrumbs { get; set; }
}
