<BSInput InputType="InputType.Select" @bind-Value="_value">
            <option value="null">Items on page</option>
            <option value="1">10</option>
            <option value="2">20</option>
            <option value="3">50</option>
        </BSInput>

@code {
    private int? _value;
}
